
<div class="container">
  <p>This is the partial for the landing page for the {{greeting}} app.</p>

  <ul class="list-unstyled">
    <li><a href="#/itemsgeo/">View the footprints of portal items.</a></li>
    <li><a href="#/itemsgallery/">View the gallery of portal items.</a></li>
  </ul>
<!--
  <form name="loginForm" novalidate>
    <div class="login">
      <div class="row">
        <div class="col-md-2">
          Email:
        </div>
        <div class="col-md-5">
          <input type="email" name="email" class="form-control" data-ng-model="vm.email" required />
          <span class="errorMessage" ng-show="">Email is required</span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-2">Password:</div>
        <div class="col-md-5">
          <input type="password" name="password" class="form-control"
                 data-ng-model=""
                 data-ng-minlength="6"
                 required />
          <span class="errorMessage" ng-show="">Password is required</span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary"
                  data-ng-click=""
                  ng-disabled="">Login</button>
        </div>
      </div>
      <br />
      <div class="statusRow">
        <br />
        <div class="label label-important" data-ng-show="">
          <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error:
        </div>
      </div>
    </div>
  </form>
-->
  
  

</div>

