<div class="container">
  <p>This is the partial for the page that will show a map with a layer showing item extents from {{portalName}}.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="center-block">
      <esri-map id="map"
                register-as="map"
                center="map.center"
                zoom="map.zoom"
                basemap="gray"
                class="map"
                load="mapLoaded"
                extent-change="extentChanged">
      </esri-map>
    </div>
  </div>
  <div class="col-md-6">
    <p ng-show="map.mapPointY">Map Last Clicked @ Latitude: {{ map.mapPointY | number: 2 }}  ||  Longitude:  {{ map.mapPointX | number: 2 }}</p>
  </div>
  <div class="col-md-6" style="text-align: right;">
    <p>Map Centered @ Latitude::  {{map.centerPoint.y | number: 2}}  ||  Longitude::  {{map.centerPoint.x | number: 2}}    </p>
  </div>
</div>  
