<div class="container">
  <p>This is the partial for the page that will show a map with a layer showing item extents from {{portalName}}.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="center-block">
      <!--<div id="oldmap" class="map"></div>-->
      <esri-map id="map1" center="map.center" zoom="map.zoom" basemap="gray" class="map"></esri-map>
      <esri-map id="map2" center="map.center" zoom="map.zoom" basemap="topo" class="map"></esri-map>
    </div>
  </div>
</div>  
